<h2>nanana </h2>
<div class="workshops mdl-layout mdl-js-layout">
    <main class="mdl-layout__content">

        <!-- content will be placed here -->
        <div ui-view></div>

        <footer class="mdl-mini-footer mdl-mini-footer--links">
            <div class="mdl-mini-footer--left-section">
                <button class="mdl-mini-footer--social-btn social-btn social-btn__twitter">
                    <span class="visuallyhidden">Twitter</span>
                </button>
            </div>
            <div class="mdl-mini-footer--right-section">
                <a class="mdl-mini-footer--link" href="https://getmdl.io/templates/index.html">Based on</span>
              <button class="mdl-mini-footer--social-btn social-btn social-btn__mdl">
              </button>
            </div>
          </footer>
  </main>
</div>
